html, body {
    margin: 0;
    padding: 0;
    background-color: #eff0f1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo-header {
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.wago-logo {
    margin-left: 36.5px;
}

.link-menu-icon {
    display: flex;
    order: 2;
    justify-content: flex-end;
    color: #1F2837;
}

/* .wg-content-panel:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 0px;
    height: 100px;
} */

.io-panel {
    background-color: #ffffff;
}

.wg-cc100-image {
    width: 50%;
}

.column {
    flex: 1;
    border: 1px;
    margin: 2px;
    padding: 10px; 
    /* background-color: #ffffff; */
}
.column:nth-child(2) {
    background-color: #eff0f1;
    margin-left: 75px;
    margin-right: 75px;
    justify-content: center;
}

.wg-content-panel {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;
}

.img-cc100 {
    display: block;
}

@media screen and (max-width: 1500px) {
    .wg-content-panel .column:nth-child(2) {
        margin: auto;
    }

    .img-cc100 {
        display: block;
        height: 516px;
        width: 704px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1300px) {
    .wg-content-panel .column {
        flex-basis: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .wg-content-panel .column:nth-child(2) {
        flex-basis: 100%;
        margin: auto;
    }

    .img-cc100 {
        display: block;
        height: 373.9px;
        width: 510px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 680px) {
    .wg-content-panel .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;

    }

    .img-cc100 {
        height: 373.9px;
        width: 510px;
    }
}